
body{
    background-color: #69745F;
}

.time-box {
    width: 50%;
    margin: 0 auto;
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: rgba(156,164,149,.3);
    border: 3px solid #D3D8D2;
    border-radius: 10px;
}

span{
    font-size: 70px;
    color: white;
}

.sep-span{
    color: transparent;
}