
body {
    background: #BFAD75
}

#time {
    text-align: center;
    position: relative;
    top: 80px;
    font-size: 50px;
    color: #34404A;

}

.box {
    width: 25%;
    height: 200px;
    background: #ADCCD9;
    margin: 140px auto;
    border-radius: 15px;
}

.effect2 {
    position: relative;
}

.sep-span {
    color: transparent;
}

.effect2:before, .effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #5E7B8C;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
